.topbar .topbar-left, .side-menu {
    /*background: url("../images/bg-pettren.png") repeat;*/
    background-color: #1B2F5A;
}
.text-custom {
    color: rgba(0,158,68,1) !important;
}

.tabs-vertical-env.vTable {
    letter-spacing: -5px;
}
.tabs-vertical-env.vTable * {
    letter-spacing: 0;
}
.tabs-vertical-env.vTable .nav.tabs-vertical.vTableLeft {
    display: inline-block;
    width: 15%;
}
.tabs-vertical-env.vTable .vTableRight {
    display: inline-block;
    width: 85%;
    padding: 0 10px;
}
#custom-table th,#custom-table td {
    text-align: center;
}
/*#custom-table th .checkbox {
    padding-left: 0;
}
#custom-table th .checkbox label {
    text-indent: 50px;
}
#custom-table th .checkbox label:before {
    left: 0px;
    margin-left: 0;
}*/
.button-group .dropdown-menu {
    left: 10px;
}
.button-group .dropdown-menu .checkbox label {
    padding-left: 25px;
}
.button-group .dropdown-menu .checkbox label:before {
    top: -2px;
    left: 20px;
}
.button-group .dropdown-menu .checkbox label:after {
    top: 0;
    left: 20px;
}

.dropdown-menu > li > .dropdown-menu-item {
    clear: both;
    color: #333;
    display: block;
    padding: 3px 20px;
    white-space: nowrap;
    margin: 5px 0;
    width: 100%;
    text-align: left;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    -moz-user-select: none;
    user-select: none;
}
.dropdown-menu > li:hover .dropdown-menu-item,
.dropdown-menu > li:focus .dropdown-menu-item{
    background-color: #f5f5f5;
    color: #262625;
}
.dropdown-menu > li > .dropdown-menu-item.checkbox {
    margin: 0;
    font-weight: normal;
}
.dropdown-menu > li > .dropdown-menu-item.checkbox input {
    display: none;
}



/* Hide all steps by default: */
.tab {
    display: none;
}
span.month, span.year, span.decade, span.century {
    padding: 5px;
}

button {
    background-color: #4CAF50;
    font-size: 17px;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
}

button:hover {
    opacity: 0.8;
}

#prevBtn {
    background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */
.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

.step.active {
    opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
    background-color: #4CAF50;
}


.reveal-if-active {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    font-size: 16px;
    transition: 0.5s;
}
.reveal-if-active label {
    display: block;
    margin: 0 0 3px 0;
}
.reveal-if-active input[type=text] {
    width: 100%;
}
input[type="radio"]:checked ~ .reveal-if-active, input[type="checkbox"]:checked ~ .reveal-if-active {
    opacity: 1;
    max-height: inherit;
    padding: 10px 0;
    overflow: visible;
}
input[type="radio"]:checked ~ .reveal-if-active strong, input[type="checkbox"]:checked ~ .reveal-if-active strong {
    display: inline-block;
    width: 100%;
    font-size: 16px;
    margin-bottom: 5px;
}
.radio .checkbox label:before {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.radio .checkbox .radio label:before {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.radio .checkbox .radio input[type="radio"] + label:after, .checkbox .radio input[type="radio"] + label:after {
    top: 5px;
}
.radio .checkbox input[type="checkbox"] + label:after {
    position: absolute;
    top: 2px;
    left: 0;
    background-color: transparent;
    content: "\F12C";
    font-family: 'Material Design Icons';
    font-weight: bold;    color: #797979;
    display: inline-block;
    font-size: 11px;
    width: 16px;
    height: 16px;
    transform: none;
    -webkit-transform: none;
    padding-left: 3px;
    padding-top: 1px;
    opacity: 0;
    margin-left: -20px;
}
.radio .checkbox input[type="checkbox"]:checked + label:after, .radio input[type="radio"]:checked + label + label:after {
    opacity: 1;
}
textarea {
    resize: vertical !important;
}
.container h3, .container h4, .container h5 {
    color: #80c2fc;
}
.form-group.row .radio+.radio {
    margin: 10px 0;
}
.datepicker table tr td.today, .datepicker table tr td.today:hover, .datepicker table tr td.today.disabled, .datepicker table tr td.today.disabled:hover {
    text-align: center;
}

.input-group {
    display: inline-block;
    width: 100%;
}
.input-group .form-control {
    width: calc(100% - 40px);
}
.input-group .parsley-errors-list.filled {
    display: inline-block;
}
.input-group span.input-group-addon {
    height: 38px;
}
.input-group span.input-group-addon.bg-custom.b-0 {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 38px;
    z-index: 2;
    line-height: 30px;
}



[data-role="dynamic-fields"] > [data-role="add"] {
    display: none;
}

[data-role="dynamic-fields"] > .row:last-child [data-role="add"] {
    display: inline-block;
}

[data-role="dynamic-fields"] > .row:last-child [data-role="remove"] {
    display: none;
}
.table > tbody > tr > th[valign="middle"], .table > tbody > tr > td[valign="middle"] {
    vertical-align: middle;
}
.checkbox, .radio {
    margin-top: 0;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    background-color: #b3b0b0;
}

.form-inline label {
    letter-spacing: 0;
}
.form-inline .checkbox, .form-inline .radio {
    width: 25%;
    letter-spacing: 0;
    padding-left: 0;
}
.form-inline .checkbox input[type="checkbox"] + label, .form-inline .radio input[type="radio"] + label {
    padding-left: 10px;
}
.jFiler-items ul, .jFiler .pull-left {
    text-align: left;
}

.validate_error{
    border : 1px solid red;
}
#validation-msg {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 9999;
    left: 50%;
    top: 80px;
    font-size: 17px;
}

#validation-msg.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 4.5s;
    animation: fadein 0.5s, fadeout 0.5s 4.5s;
}
#datatable-responsive_filter label {
    float: left;
    width: 100%;
    white-space: inherit;
}
#datatable-responsive_filter label .form-control {
    float: right;
    width: 90%;
    height: 40px;
    margin-left: 0;
}
.datepicker td {
    cursor: pointer;
}
@-webkit-keyframes fadein {
    from {top: 0; opacity: 0;} 
    to {top:80px; opacity: 1;}
}

@keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 80px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {top: 80px; opacity: 1;} 
    to {top: 0; opacity: 0;}
}

@keyframes fadeout {
    from {top: 80px; opacity: 1;}
    to {top: 0; opacity: 0;}
}


/**//**/
@media only screen and (max-width:1025px) {
    #wrapper.enlarged .topbar .topbar-left .logo span, .topbar-left span {
        display: block !important;
        opacity: 1;
    }
}

@media only screen and (max-width:924px) {
    .tabs-vertical-env.vTable .nav.tabs-vertical.vTableLeft {
        margin-bottom: 15px;
    }
    .tabs-vertical-env.vTable .nav.tabs-vertical.vTableLeft, .tabs-vertical-env.vTable .vTableRight {
        width: 100%
    }
}
@media only screen and (max-width:768px) {
    .navbar-default {
        background-color: #060 !important;
    }
}