.inline-block {
    float: none !important;
    display: inline-block !important;
}
html, body {
    min-height: 100%;
}
body {
    background: rgba(0,158,68,.2) url("../images/bg-pettren.png") repeat;
}
#wrapper {
    overflow: visible;
}
.footer {
    background-color: #fff;
}
#wrapper.enlarged .footer {
    left: 0;
}
.login-pg-title {
    text-align: center;
}
.login-pg-title .page-title h1 {
    text-transform: uppercase;
    color: #1B2F5A;
    white-space: normal;
}
.login-box {
    max-width: 600px;
    color: #98a6ad;
    text-shadow: none;
    background-color: #ffffff;
    box-shadow: 3px 3px 32px #777575;
    padding: 20px 40px;
    margin: 50px auto 0;
}

.lb-header {
    position: relative;
    top: -20px;
    width: 100%;
    background-color: #1B2F5A;
    color: #98a6ad;
    border-bottom: 1px solid transparent;
    display: inline-block;
    text-align: center;
    padding: 0;
    margin: -60px 0 10px;
}
.lb-header h1 {
    font-size: 30px;
    color: #98a6ad;
    text-align: center;
}
.loginForm .input-group {
    width: 100%;
    margin-bottom: 15px;
}
.loginForm .input-group input[type="submit"] {
    width: 100%;
    background-color: #1B2F5A;
    text-transform: uppercase;
}
.loginForm .input-group input[type="submit"]:hover
{
   color:#fff;
}
.login-box .checkbox {
    color: #000;
    margin: 0;
}
.login-box .checkbox input[type="checkbox"] {
    opacity: 1;
}
.footer {
    left: 0;
}
.footer.text-center {
    text-align: center !important;
}
@media only screen and (max-width:1560px) {
    body {
        padding-bottom: 80px;
    }
    .login-pg-title .page-title h1 {
        font-size: 26px;
    }
}
@media only screen and (max-width:767px){
    body {
        padding-bottom: 100px;
    }
    .login-box {
        max-width: 94%;
        padding: 20px;
        margin-top: 20px;
    }
    .login-pg-title .page-title {
        max-width: 100%;
    }
    .login-pg-title .page-title h1 {
        font-size: 22px;
    }
    .lb-header h1 {
        font-size: 22px;
    }
    .text-xs-center {
        text-align: center;
    }
}